body {
color: black;
font-size: 14px;
font-family: Verdana;
}
a {
color: #f5hha6;
font-family: Courier;
}
a:hover {
color: green;
background-color: rgba(240, 225, 19, 0.6);
border: 2px solid #f00;
border-radius: 40px 10px;
height: 200px;  
width: 200px; 
}
h1 {
font-size: 30px;
}
p::first-letter {
color: #00008B;
font-size: 30px;
}

.groups_main li a { 
  display: block;
  padding: 2px 6px;
}
.groups_main li a:hover { 
  background-color: #92c042;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
}
#p-one {
font-size: 20px;
}
#a-one {
color: gray;
}
.link-one-and-p-one {
color: red !important;
}
body {
position:relative;
height:100%;
background: #999;
}
#Chack_Norris {
min-height:100%;
width:100%;
height:900px;
margin: auto;
background: url(imaga/imperia.jpg) no-repeat;
-moz-background-size: 100%; /* Firefox 3.6+ */
-webkit-background-size: 100%; 
background-size: 100%; /* Современные браузеры */;

}
#Head {
height:120px;
width:80%;
margin: auto;
background: #bbb;
text-align: center;
padding-top: 20px;
border: 1px solid black;
border-radius: 8px;
}
#colm {
height: 80px;
}
#BB_menu{
float: left;
margin-left: 10px;
height:10px;
font-size: 25px;
font-family: fantasy;
color: brown;
}

#POL { 
float: left;
margin-left: 5px;
height:120px;
width:120px;
 }
#Menu{
height:50px;
top: 100px;
width:80%;
background: #90EE90;
text-align: center;
margin: auto;
margin-top: 7px;
margin-bottom: 7px;
border: 1px solid black;
border-radius: 8px; 

}
#main {
height:540 px;
top: 130px;
width:80%;
margin: auto;
background:url(imaga/flag.jpg) no-repeat;
-moz-background-size: 100%; /* Firefox 3.6+ */
-webkit-background-size: 100%; 
background-size: 100%; /* Современные браузеры */
}
#main_nazv{
height:50px;
text-align: center;
margin: auto;
}
#main_base{
 background-color: rgba(126, 126, 126, 0.7);
 padding: 5px; 
 color: black; 
 height:185px;
 border-radius: 8px;
 overflow: auto;
}

#left {
float: left;
height:100%;
width:150px;
background: #ccc;
}
#main-main {
height:540px;
width:100%;
border:2px solid #555555;
}
#faces
{
font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
width:100%;
border-collapse:collapse;
}
#faces td, #faces th 
{
font-size:1em;
border:1px solid #000000;
padding:3px 7px 2px 7px;
}
#faces td 
{
font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color: rgba(240, 225, 19, 0.6);
color:#ffffff;
}
#faces td.alt 
{
color:#000000;
background-color: rgba(240, 27, 10, 0.6);
}
@font-face {
		font-family: Arlekino;
		src: local("arlecino"),
		url(rifs/42851.ttf);
}	