body {
color: black;
font-size: 15px;
font-family: Verdana;
}
ul { 
list-style: circle outside;
color:   #913e93;
}
p{
color:#4b0082;
}
a {
color: #913e93;

}
a:hover {
font-size: 20px;
}
h1 {
font-size: 30px;
color:#991199;
}
h2{
color: #4b0082;
}
p::first-letter {
font-size: 10px;
}
p::first-letter {
font-size: 30px;
color: #00008B;
}
#td-one{
background:#ffdb58!important;
margin:auto;
overflow: auto;
}
td{
background: #ff7f50;
border: 1px solid #333;
padding: 5px;
margin:auto;
overflow: auto;
}
#td-foot{
background: #993366;
width:70px;
height:10px;
}
#p-one {
font-size: 20px;

}
#a-one {
color: gray;
}

.link-one-and-p-one {
color: red!important;
}

body {
position:relative;
height:100%;

}
#kar{
left:20px;
position:relative;
}

#taibl{
overflow: auto;  
table-layout:auto;
height:80%;
width:80%;
border-radius: 20px 20px 20px 20px;
background: #993366;
float: center;
margin-right: 20px;
margin-left: 20px;
margin-top: 20px;
margin-bottom: 20px;
padding: 1%;
}

#wrapper {

height:800px;
width:85%;
margin: auto;
background:url(99.jpg) repeat-y;
}
#top {
border-radius: 20px 20px 20px 20px;
height:80px;
width:95%;
margin: 20px;
background: #fdeaa8;
position:relative;
text-align: center;
padding-top: 20px;
}
#name{
border-radius: 100px 100px 100px 100px;
position:relative;
height:50px;
width: 90%;
background: #993366;
margin: 20px 20px;
text-align: center;
float: center;
}

#menu{
padding: 2.5%;
height:80px;
width:91%;
border-radius: 20px 20px 20px 20px;
background:  #fdeaa8;
margin: auto;
float: center;
}

#text{
border-radius: 50px 50px 50px 50px;
position:relative;
height:33%;
width: 90%;
background: #993366;
margin: auto;
text-align: center;
float: center;
}
#main {
overflow: auto;     
border-radius: 20px 20px 20px 20px;
position:relative;
height:75%;
width: 75%;
float: right;
top: 20px;
margin-right: 20px;
background: #c8a2c8;
}
#left {

position:relative;
border-radius: 5px 5px 5px 5px;
margin-left: 20px;
top: 20px;
float: left;
height:80%;
width:17%;
background: #ebc2af;
}

#main-main {
height:100%;
}