		h1 {
			font-size: 50px; 
			font-family: times new roman;
			text-align: center;
			text-decoration: underline;
			color: green;
			}
		h2 {
			font-size: 30px; 
			font-family: arial;
			text-align: center;
			}
		p  {font-size: 20px; courier;}
		.Table {
			border: 0px;
			
		}
		.Table td {
			width: 200px;
			text-align: center;
		}
		.top {
			font-size: 30px; 
			font-family: times new roman;
			text-align: center;
			
		}
