td{
	width:110px;
	height:110px;
	overflow: auto;
}
body {
	background-image: url(pictures/background.jpg);
}
ul{
	font-family: cursive;
}
li{
	height:5%;
}	
p::first-letter{
	color: red
}